
header {
    background-color: #F76C6C;
    color: #fff;
  }

  .container {
    display: flex;
    gap:50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  } 